

        .silex-id-1725125662221-8 {top: 0px; left: 0px; height: 860px; width: 820px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 826px; height: 1015px;
        }
        .silex-id-1725125765642-10 {top: 120px; left: 220px; height: 60px; width: 520px;
        }
        .silex-id-1725125848861-11 {top: 190px; left: 220px; height: 60px; width: 520px;
        }
        .silex-id-1725127675157-39 {top: 130px; left: 90px; height: 40px; width: 40px; background-color: rgb(255, 255, 255); text-align: center;
        }
        .silex-id-1725127751726-40 {top: 130px; left: 160px; height: 40px; width: 40px; background-color: rgb(255, 255, 255); text-align: center;
        }
        .silex-id-1725127754823-41 {top: 200px; left: 90px; height: 40px; width: 40px; background-color: rgb(255, 255, 255); text-align: center;
        }
        .silex-id-1725127758103-42 {top: 200px; left: 160px; height: 40px; width: 40px; background-color: rgb(255, 255, 255); text-align: center;
        }
        .silex-id-1725126136213-12 {top: 320px; left: 100px; height: 40px; width: 40px;
        }
        .silex-id-1725126333376-17 {top: 320px; left: 180px; height: 40px; width: 40px;
        }
        .silex-id-1725126333378-18 {top: 370px; left: 180px; height: 40px; width: 40px;
        }
        .silex-id-1725126533380-23 {top: 320px; left: 280px; height: 40px; width: 40px;
        }
        .silex-id-1725127618067-36 {top: 200px; left: 130px; height: 40px; width: 30px; font-weight: bold; text-align: center; font-size: 36px; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
        }
        .silex-id-1727670245120-1 {top: 350px; left: 340px; height: 40px; width: 40px; font-weight: bold; font-size: 24px; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
        }
        .silex-id-1725127545998-33 {top: 130px; left: 130px; height: 40px; width: 30px; font-weight: bold; text-align: center; font-size: 36px; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
        }
        .silex-id-1725126397608-21 {top: 350px; left: 140px; height: 40px; width: 30px; font-weight: bold; text-align: center; font-size: 30px; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
        }
        .silex-id-1727670370876-2 {top: 320px; left: 400px; height: 40px; width: 40px;
        }
        .silex-id-1725126550990-25 {top: 370px; left: 280px; height: 40px; width: 40px;
        }
        .silex-id-1725126495285-22 {top: 360px; left: 240px; height: 20px; width: 20px; text-align: center; font-weight: bold; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
        }
        .silex-id-1727670497291-0 {top: 370px; left: 400px; height: 40px; width: 40px;
        }
        .silex-id-1727670554931-2 {top: 270px; left: 280px; height: 40px; width: 180px; border-color: rgb(0, 0, 0); color: rgb(255, 255, 255);
        }
        .silex-id-1727670631177-3 {top: 270px; left: 100px; height: 40px; width: 120px; border-color: rgb(0, 0, 0); color: rgb(255, 255, 255);
        }
        .silex-id-1725125750520-9 {top: 800px; left: 460px; height: 140px; width: 306px;
        }
        .silex-id-1727670709663-4 {top: 350px; left: 470px; height: 20px; width: 20px; text-align: center; font-weight: bold; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
        }
        .silex-id-1727670720193-5 > .CTATTable--row > .CTATTable--cell {width: 14px; height: 12px;
        }
        .silex-id-1727670737562-6 > .CTATTable--row > .CTATTable--cell {width: 14px; height: 12px;
        }
        .silex-id-1727670737562-6 > div > div {border-color: rgb(0, 0, 0);
        }
        .silex-id-1727670737562-6 > div > div > textarea {color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
        }
        .silex-id-1727670720193-5 > div > div > textarea {background-color: rgb(255, 255, 255);
        }
        .silex-id-1727670799532-7 {top: 320px; left: 520px; height: 40px; width: 40px;
        }
        .silex-id-1727670824706-8 {top: 370px; left: 520px; height: 40px; width: 40px;
        }
        .silex-id-1725126333385-19 {top: 350px; left: 180px; height: 20px; width: 40px; text-align: center; color: rgb(255, 255, 255);
        }
        .silex-id-1725126541393-24 {top: 350px; left: 280px; height: 20px; width: 40px; text-align: center; color: rgb(255, 255, 255);
        }
        .silex-id-1727670388864-4 {top: 350px; left: 400px; height: 20px; width: 40px; text-align: center; color: rgb(255, 255, 255);
        }
        .silex-id-1727670843663-9 {top: 350px; left: 520px; height: 30px; width: 40px; text-align: center; color: rgb(255, 255, 255);
        }
        .silex-id-1725126271678-16 {top: 350px; left: 100px; height: 20px; width: 40px; text-align: center; color: rgb(255, 255, 255);
        }
        .silex-id-1727676033987-13 {top: 270px; left: 520px; height: 30px; width: 100px; color: rgb(255, 255, 255);
        }
        .silex-id-1725126154796-13 {top: 370px; left: 100px; height: 40px; width: 40px;
        }
        .silex-id-1725127432398-30 {top: 700px; left: 200px; height: 40px; width: 40px;
        }
        .silex-id-1725127428263-29 {top: 680px; left: 200px; height: 20px; width: 40px; text-align: center; color: rgb(255, 255, 255);
        }
        .silex-id-1725127415836-28 {top: 650px; left: 200px; height: 40px; width: 40px;
        }
        .silex-id-1725126734063-27 {top: 600px; left: 100px; height: 40px; width: 300px; text-align: left; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
        }
        .silex-id-1727670720193-5 {top: 450px; left: 100px; height: 140px; width: 160px;
        }
        .silex-id-1727675907121-10 {top: 500px; left: 260px; height: 60px; width: 100px; text-align: center; background-color: transparent; color: rgb(255, 255, 255);
        }
        .silex-id-1727670737562-6 {top: 450px; left: 400px; height: 140px; width: 160px;
        }
        .silex-id-1727675999154-12 {top: 500px; left: 560px; height: 60px; width: 100px; color: rgb(255, 255, 255); text-align: center;
        }
        .body-initial {background-color: rgb(255, 255, 255); font-size: 16px;
        }
        .silex-id-1736390996032-1 {top: 430px; left: 100px; height: 20px; width: 160px; font-size: 14px; color: rgb(255, 255, 255);
        }
        .silex-id-1736392543073-3 {top: 430px; left: 400px; height: 20px; width: 160px; font-size: 14px; color: rgb(255, 255, 255);
        }
        .silex-id-1736392553603-4 {top: 450px; left: 380px; height: 150px; width: 20px; font-size: 12px; color: rgb(255, 255, 255); text-align: right;
        }
        .silex-id-1736392470115-2 {top: 450px; left: 80px; height: 150px; width: 20px; font-size: 12px; color: rgb(255, 255, 255); text-align: right;
        }
        .coloured1 {
                color: rgb(0, 0, 0); background-color: rgba(248,202,169,255) !important;
        }
        .coloured2 {
                color: rgb(0, 0, 0); background-color: rgba(248,208,217,255) !important;
        }
        .purple-button {
                position: relative;
                top: 850px; /* Adjusted to move it below the "Done" and "Hint" buttons */
                left: 70px; /* Adjust as necessary */
                display: inline-block;
                padding: 10px 20px;
                font-size: 16px;
                color: white;
                background-color: purple;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
                transition: background-color 0.3s ease;
        }

        .refresh-button{
                position: relative;
                top: 811px; /* Adjusted to move it below the "Done" and "Hint" buttons */
                left: 270px; /* Adjust as necessary */
                display: inline-block;
                padding: 10px 20px;
                font-size: 16px;
                color: white;
                background-color: purple;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
                transition: background-color 0.3s ease;
        }
        .refresh-button:hover, .purple-button:hover {
                background-color: darkmagenta;
        }

        .refresh-button {
                cursor: pointer;
                border: none;
                outline: none;
        }
    