

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 806px; height: 1015px;
        }
        .silex-id-1726124185944-0 {top: 0px; left: 0px; height: 860px; width: 800px;
        }
        .silex-id-1726127964495-1 {top: 800px; left: 440px; height: 140px; width: 306px;
        }
        .silex-id-1726124272648-2 {top: 120px; left: 100px; height: 40px; width: 40px;
        }
        .silex-id-1726124286541-3 {top: 180px; left: 100px; height: 40px; width: 40px;
        }
        .silex-id-1726124291674-4 {top: 180px; left: 190px; height: 40px; width: 40px;
        }
        .silex-id-1726124345213-6 {top: 180px; left: 260px; height: 40px; width: 440px;
        }
        .silex-id-1726125018688-23 {top: 610px; left: 140px; height: 40px; width: 40px;
        }
        .silex-id-1726125029695-24 {top: 670px; left: 140px; height: 40px; width: 40px;
        }
        .silex-id-1726124405646-7 {top: 350px; left: 100px; height: 40px; width: 40px;
        }
        .silex-id-1726124416973-9 {top: 330px; left: 200px; height: 40px; width: 40px;
        }
        .silex-id-1726124422593-10 {top: 390px; left: 200px; height: 40px; width: 40px;
        }
        .silex-id-1726124429906-11 {top: 330px; left: 300px; height: 40px; width: 40px;
        }
        .silex-id-1726124435124-12 {top: 390px; left: 300px; height: 40px; width: 40px;
        }
        .silex-id-1726124445278-14 {top: 350px; left: 150px; height: 40px; width: 40px; font-weight: bold; text-align: left; font-size: 32px; color: rgb(255, 255, 255);
        }
        .silex-id-1726124483689-16 {top: 370px; left: 200px; height: 20px; width: 40px; color: rgb(255, 255, 255);
        }
        .silex-id-1726124514116-19 {top: 360px; left: 260px; height: 40px; width: 20px; font-size: 32px; font-weight: bold; color: rgb(255, 255, 255);
        }
        .silex-id-1726124532881-20 {top: 370px; left: 300px; height: 20px; width: 40px; color: rgb(255, 255, 255);
        }
        .silex-id-1726124297515-5 {top: 180px; left: 150px; height: 40px; width: 20px; font-size: 32px; font-weight: bold; color: rgb(255, 255, 255);
        }
        .silex-id-1726124555929-21 {top: 640px; left: 100px; height: 40px; width: 20px; font-size: 32px; font-weight: bold; color: rgb(255, 255, 255);
        }
        .silex-id-1726126934118-0 {top: 650px; left: 140px; height: 20px; width: 40px; color: rgb(255, 255, 255);
        }
        .silex-id-1726124971932-22 {top: 580px; left: 100px; height: 20px; width: 460px; color: rgb(255, 255, 255);
        }
    