

        .silex-id-1725126633946-26 > div > div {border-color: rgb(0, 0, 0);
        }
        .silex-id-1725125662221-8 {top: 0px; left: 0px; height: 620px; width: 820px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 826px; height: 795px;
        }
        .silex-id-1725125750520-9 {top: 580px; left: 460px; height: 140px; width: 306px;
        }
        .silex-id-1725125765642-10 {top: 100px; left: 220px; height: 60px; width: 520px;
        }
        .silex-id-1725125848861-11 {top: 170px; left: 220px; height: 60px; width: 520px;
        }
        .silex-id-1725127754823-41 {top: 180px; left: 90px; height: 40px; width: 40px; background-color: rgb(255, 255, 255); text-align: center;
        }
        .silex-id-1725127758103-42 {top: 180px; left: 160px; height: 40px; width: 40px; background-color: rgb(255, 255, 255); text-align: center;
        }
        .silex-id-1725127618067-36 {top: 180px; left: 130px; height: 40px; width: 30px; font-weight: bold; text-align: center; font-size: 36px; color: rgb(255, 255, 255);
        }
        .silex-id-1725127545998-33 {top: 110px; left: 130px; height: 40px; width: 30px; font-weight: bold; text-align: center; font-size: 36px; color: rgb(255, 255, 255);
        }
        .silex-id-1725126633946-26 {top: 260px; left: 420px; height: 260px; width: 320px;
        }
        .silex-id-1725126633946-26 > .CTATTable--row > .CTATTable--cell {width: 30px; height: 24px;
        }
        .silex-id-1725127675157-39 {top: 110px; left: 90px; height: 40px; width: 40px; background-color: rgb(255, 255, 255); text-align: center;
        }
        .silex-id-1725127751726-40 {top: 110px; left: 160px; height: 40px; width: 40px; background-color: rgb(255, 255, 255); text-align: center;
        }
        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1725126633946-26 > div > div > textarea {color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
        }
        .silex-id-1725127432398-30 {top: 480px; left: 200px; height: 40px; width: 40px;
        }
        .silex-id-1725127428263-29 {top: 460px; left: 200px; height: 20px; width: 40px; text-align: center; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
        }
        .silex-id-1725127415836-28 {top: 430px; left: 200px; height: 40px; width: 40px;
        }
        .silex-id-1725126734063-27 {top: 390px; left: 100px; height: 40px; width: 300px; text-align: left; color: rgb(255, 255, 255);
        }
        .silex-id-1725126154796-13 {top: 330px; left: 120px; height: 40px; width: 40px;
        }
        .silex-id-1725126271678-16 {top: 310px; left: 120px; height: 20px; width: 40px; text-align: center; color: rgb(255, 255, 255);
        }
        .silex-id-1725126136213-12 {top: 280px; left: 120px; height: 40px; width: 40px;
        }
        .silex-id-1725126397608-21 {top: 320px; left: 170px; height: 20px; width: 20px; font-weight: bold; text-align: center; color: rgb(255, 255, 255);
        }
        .silex-id-1725126333378-18 {top: 330px; left: 200px; height: 40px; width: 40px;
        }
        .silex-id-1725126333385-19 {top: 310px; left: 200px; height: 20px; width: 40px; text-align: center; color: rgb(255, 255, 255);
        }
        .silex-id-1725126333376-17 {top: 280px; left: 200px; height: 40px; width: 40px;
        }
        .silex-id-1725126495285-22 {top: 320px; left: 270px; height: 20px; width: 20px; text-align: center; font-weight: bold; color: rgb(255, 255, 255);
        }
        .silex-id-1725126550990-25 {top: 330px; left: 310px; height: 40px; width: 40px;
        }
        .silex-id-1725126541393-24 {top: 310px; left: 310px; height: 20px; width: 40px; text-align: center; color: rgb(255, 255, 255);
        }
        .silex-id-1725126533380-23 {top: 280px; left: 310px; height: 40px; width: 40px;
        }
        .silex-id-1729319873658-0 {top: 240px; left: 80px; height: 40px; width: 200px; color: rgb(255, 255, 255);
        }
        .silex-id-1729319909554-1 {top: 260px; left: 300px; height: 20px; width: 100px; font-size: 14px; color: rgb(255, 255, 255);
        }
        .coloured1 {
                color: rgb(0, 0, 0); background-color: rgba(248,202,169,255) !important;
        }
        .coloured2 {
                color: rgb(0, 0, 0); background-color: rgba(248,208,217,255) !important;
        }
        .grey {
                color: rgb(0, 0, 0); background-color: grey !important;
        }
        .white {
                color: rgb(0, 0, 0); background-color: white !important;
        }
        .overlap {
                color: rgb(0, 0, 0); background-color: rgba(246,163,131,255) !important; opacity: 75%;
        }

        .buttonarea {top: 500px; left: 80px; height: 140px; width: 306px;
        }
        
        .purple-button {
                position: relative;
                top: 700px; /* Adjusted to move it below the "Done" and "Hint" buttons */
                left: 70px; /* Adjust as necessary */
                display: inline-block;
                padding: 10px 20px;
                font-size: 16px;
                color: white;
                background-color: purple;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
                transition: background-color 0.3s ease;
        }

        .refresh-button{
                position: relative;
                top: 559px; /* Adjusted to move it below the "Done" and "Hint" buttons */
                left: 270px; /* Adjust as necessary */
                display: inline-block;
                padding: 10px 20px;
                font-size: 16px;
                color: white;
                background-color: purple;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
                transition: background-color 0.3s ease;
        }
            
        .refresh-button:hover, .purple-button:hover {
                background-color: darkmagenta;
        }

        .refresh-button {
                cursor: pointer;
                border: none;
                outline: none;
        }

        .image-title {
                position: absolute;
                top: 10px;  /* Adjust as needed */
                right: 200px;  /* Adjust as needed */
                font-size: 24px;  /* Adjust font size */
                color: #000;  /* Adjust text color */
                font-weight: bold;
                background-color: rgba(255, 255, 255, 0.7);  /* Optional background */
                padding: 5px;
                z-index: 10; 
            }
    