

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1725125662221-8 {top: 0px; left: 0px; height: 860px; width: 820px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 826px; height: 1015px;
        }
        .silex-id-1725125848861-11 {top: 190px; left: 220px; height: 60px; width: 520px;
        }
        .silex-id-1725127754823-41 {top: 200px; left: 90px; height: 40px; width: 40px; background-color: rgb(255, 255, 255); text-align: center;
        }
        .silex-id-1725127758103-42 {top: 200px; left: 160px; height: 40px; width: 40px; background-color: rgb(255, 255, 255); text-align: center;
        }
        .silex-id-1725126333376-17 {top: 320px; left: 180px; height: 40px; width: 40px;
        }
        .silex-id-1725126333378-18 {top: 370px; left: 180px; height: 40px; width: 40px;
        }
        .silex-id-1725127618067-36 {top: 200px; left: 130px; height: 40px; width: 30px; font-weight: bold; text-align: center; font-size: 36px; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
        }
        .silex-id-1725126397608-21 {top: 350px; left: 140px; height: 40px; width: 30px; font-weight: bold; text-align: center; font-size: 30px; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
        }
        .silex-id-1725126495285-22 {top: 360px; left: 240px; height: 20px; width: 20px; text-align: center; font-weight: bold; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
        }
        .silex-id-1727670554931-2 {top: 270px; left: 280px; height: 40px; width: 180px; border-color: rgb(0, 0, 0); color: rgb(255, 255, 255);
        }
        .silex-id-1727670631177-3 {top: 270px; left: 100px; height: 40px; width: 120px; border-color: rgb(0, 0, 0); color: rgb(255, 255, 255);
        }
        .silex-id-1725125750520-9 {top: 800px; left: 460px; height: 140px; width: 306px;
        }
        .silex-id-1725126333385-19 {top: 350px; left: 180px; height: 20px; width: 40px; text-align: center; color: rgb(255, 255, 255);
        }
        .silex-id-1725126136213-12 {top: 350px; left: 100px; height: 40px; width: 40px;
        }
        .silex-id-1725127675157-39 {top: 130px; left: 90px; height: 40px; width: 40px; background-color: rgb(255, 255, 255); text-align: center;
        }
        .silex-id-1727670799532-7 {top: 320px; left: 320px; height: 40px; width: 40px;
        }
        .silex-id-1727670824706-8 {top: 370px; left: 320px; height: 40px; width: 40px;
        }
        .silex-id-1727670843663-9 {top: 350px; left: 320px; height: 30px; width: 40px; text-align: center; color: rgb(255, 255, 255);
        }
        .silex-id-1730640013983-0 > div > div {border-color: rgb(0, 0, 0);
        }
        .silex-id-1730640013983-0 > div > div > textarea {background-color: rgb(255, 255, 255);
        }
        .silex-id-1727675907121-10 {top: 440px; left: 100px; height: 60px; width: 260px; text-align: left; background-color: transparent; color: rgb(255, 255, 255);
        }
        .silex-id-1725126734063-27 {top: 530px; left: 100px; height: 40px; width: 300px; text-align: left; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);
        }
        .silex-id-1725127415836-28 {top: 580px; left: 200px; height: 40px; width: 40px;
        }
        .silex-id-1725127428263-29 {top: 610px; left: 200px; height: 20px; width: 40px; text-align: center; color: rgb(255, 255, 255);
        }
        .silex-id-1725127432398-30 {top: 630px; left: 200px; height: 40px; width: 40px;
        }
        .silex-id-1730640126624-3 > div > div > textarea {background-color: rgb(255, 255, 255);
        }
        .silex-id-1730640126624-3 {top: 310px; left: 480px; height: 30px; width: 260px;
        }
        .silex-id-1730640126624-3 > .CTATTable--row > .CTATTable--cell {width: 258px; height: 28px;
        }
        .silex-id-1730640156266-4 > div > div > textarea {background-color: rgb(255, 255, 255);
        }
        .silex-id-1730640156266-4 {top: 350px; left: 480px; height: 30px; width: 260px;
        }
        .silex-id-1730640156266-4 > .CTATTable--row > .CTATTable--cell {width: 258px; height: 28px;
        }
        .silex-id-1730640013983-0 {top: 270px; left: 480px; height: 30px; width: 260px;
        }
        .silex-id-1730640013983-0 > .CTATTable--row > .CTATTable--cell {width: 258px; height: 28px;
        }
        .silex-id-1730640201643-5 {top: 390px; left: 480px; height: 30px; width: 260px;
        }
        .silex-id-1730640201643-5 > .CTATTable--row > .CTATTable--cell {width: 258px; height: 28px;
        }
        .silex-id-1730640201643-5 > div > div > textarea {background-color: rgb(255, 255, 255);
        }
        .silex-id-1730640231638-6 {top: 430px; left: 480px; height: 30px; width: 260px;
        }
        .silex-id-1730640231638-6 > .CTATTable--row > .CTATTable--cell {width: 258px; height: 28px;
        }
        .silex-id-1730640231638-6 > div > div > textarea {background-color: rgb(255, 255, 255);
        }
        .silex-id-1730640254968-7 > div > div > textarea {background-color: rgb(255, 255, 255);
        }
        .silex-id-1730640254968-7 {top: 470px; left: 480px; height: 30px; width: 260px;
        }
        .silex-id-1730640254968-7 > .CTATTable--row > .CTATTable--cell {width: 258px; height: 28px;
        }
        .silex-id-1730640277444-8 {top: 510px; left: 480px; height: 30px; width: 260px;
        }
        .silex-id-1730640277444-8 > .CTATTable--row > .CTATTable--cell {width: 258px; height: 28px;
        }
        .silex-id-1730640277444-8 > div > div > textarea {background-color: rgb(255, 255, 255);
        }
        .silex-id-1730640302689-9 > div > div > textarea {background-color: rgb(255, 255, 255);
        }
        .silex-id-1730640302689-9 {top: 550px; left: 480px; height: 30px; width: 260px;
        }
        .silex-id-1730640302689-9 > .CTATTable--row > .CTATTable--cell {width: 258px; height: 28px;
        }
        .silex-id-1730640340880-10 {top: 590px; left: 480px; height: 30px; width: 260px;
        }
        .silex-id-1730640340880-10 > .CTATTable--row > .CTATTable--cell {width: 258px; height: 28px;
        }
        .silex-id-1730640340880-10 > div > div > textarea {background-color: rgb(255, 255, 255);
        }
        .silex-id-1730640362692-11 > div > div > textarea {background-color: rgb(255, 255, 255);
        }
        .silex-id-1730640362692-11 {top: 630px; left: 480px; height: 30px; width: 260px;
        }
        .silex-id-1730640362692-11 > .CTATTable--row > .CTATTable--cell {width: 258px; height: 28px;
        }
    